<section class="table-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="productsSupplier">

    <!-- Id Column -->
    <ng-container matColumnDef="id" sticky>
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let supplier"> {{supplier.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let supplier"> {{supplier.name}} </td>
    </ng-container>

    <!-- CUIT Column -->
    <ng-container matColumnDef="cuit">
        <th mat-header-cell *matHeaderCellDef> CUIT </th>
        <td mat-cell *matCellDef="let supplier"> {{supplier.cuit}} </td>
    </ng-container>

    <!-- Tel Column -->
    <ng-container matColumnDef="tel">
        <th mat-header-cell *matHeaderCellDef> Teléfono </th>
        <td mat-cell *matCellDef="let supplier"> {{supplier.tel}} </td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Dirección </th>
        <td mat-cell *matCellDef="let supplier"> {{supplier.address}} </td>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> Ciudad </th>
        <td mat-cell *matCellDef="let supplier"> {{supplier.city}} </td>
    </ng-container>

    <!-- Province Column -->
    <ng-container matColumnDef="province">
        <th mat-header-cell *matHeaderCellDef> Provincia </th>
        <td mat-cell *matCellDef="let supplier"> {{supplier.province}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let supplier">
            <button mat-raised-button color="warn" (click)="deleteProductSupplier(supplier.id)">Eliminar</button>
        </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</section>
<div class="div-btn">
    <button mat-raised-button class="add-btn" routerLink="/addProductSupplier">Agregar Proveedor</button>
    <button mat-raised-button class="back-btn" routerLink="/menu">Volver</button>
</div>