<div class="container">

    <div class="card">
        <h2 class="title">PRODUCTOS</h2>
        <button mat-raised-button class="btn" routerLink="/products">ENTRAR</button>
    </div>

    <div class="card">
        <h2 class="title">VENTAS</h2>
        <button mat-raised-button class="btn" routerLink="/sales">ENTRAR</button>
    </div>   

    <div class="card">
        <h2 class="title">PROVEEDORES</h2>
        <button mat-raised-button class="btn" routerLink="/productSuppliers">ENTRAR</button>
    </div>

</div>